{% extends "base.html" %}
{% load reversetag %}

{%block head%}
  <style type="text/css">
    #rdf-content, #rdf-query, #rdf-query-result {
      font-family: monospace;
    }

    #footer {
      margin-top: 10px;
    }
  </style>
{%endblock%}

{%block content%}
  <div class="row">
    <div class="col-md-6">
      <h2>Load RDF content</h2>
      <form role = "form" action="{% reverse 'store.views.load' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="rdf-content">RDF Content</label>
          {{ load_form.rdf_content }}
          {#<textarea rows = "15" name = "rdf-content" id="rdf-content" placeholder="Enter valid RDF content here"></textarea>#} 
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="rdfType">RDF Type</label>
          </div>
          <div class="col-md-6 text-right">
            <div class="btn-group" data-toggle="buttons">
              <label class="load-type btn btn-primary" id="load-type-xml" value="xml">
                <input type="radio">
                XML
              </label>
              <label class="load-type btn btn-primary" id="load-type-n3" value="n3">
                <input type="radio">
                N3 / Turtle
              </label>
            </div>
            {{ load_form.load_type }}
            {#<input id="load-type" name="load-type" type="hidden" value="n3"/>#}
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success col-md-offset-9 col-md-3">Save</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Query current RDF database</h2>
      <form role = "form" action="{% reverse 'store.views.query' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="rdf-query">SPARQL Query</label>
          {{ query_form.rdf_query }}
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <label for="rdfType">Output format</label>
          </div>
          <div class="col-md-6 text-right">
            <div class="btn-group" data-toggle="buttons">
              <label class="output-type btn btn-primary" id="output-type-xml" value="xml">
                <input type="radio">
                XML
              </label>
              <label class="output-type btn btn-primary" id="output-type-json" value="json">
                <input type="radio">
                JSON
              </label>
            </div>
            {#<input id="output-type" name="output-type" type="hidden" value="xml"/>#}
            {{ query_form.output_type }}
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-danger col-md-offset-9 col-md-3">GO!</button>
        </div>

      </form>
    </div>
  </div>

  {% if exception or result %}
    <div class="row" id="footer">
      {% if exception %}
        <h3>Error:</h3>
        <div class="alert alert-danger col-md-12">
          {{exception}}
          <button class="close" data-dismiss="alert">×</button>
        </div>
      {% endif %}

      {% if result %}
        <h3>Result:</h3>
        <div id="rdf-query-result" class="col-md-12">
          <pre>{{ result }}</pre>
        </div>
      {% endif %}
    </div>
  {% endif %}
{%endblock %}


{% block script %}
  <script type="text/javascript">
    $(function() {

      $('.load-type').click(function() {
        var val = $(this).attr("value");
        $("#load-type").attr("value", val);
      });
      $('.output-type').click(function() {
        var val = $(this).attr("value");
        $("#output-type").attr("value", val);
      });


      var curLoadType = $("#load-type").attr("value");
      $('#load-type-' + curLoadType).addClass("active");

      var curOutputType = $("#output-type").attr("value");
      $('#output-type-' + curOutputType).addClass("active");

    });
  </script>
{% endblock %}